/* Основные стили секции */
section {
  margin-top: 96px;
  padding: 0 0;
  position: relative;
  z-index: 10;
}

section .container .hero::after {
  content: "";
  position: absolute;
  top: -60px;
  left: 660px;
  right: 0;
  bottom: 0;
  background-image: url("/star.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  z-index: -2;
  pointer-events: none;
}

.hero_info::after {
  content: "";
  position: absolute;
  top: 326px;
  left: 110px;
  right: 0;
  bottom: 0;
  background-image: url("/dora.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  z-index: -10;
  pointer-events: none;
}

/* Стили hero блока */
.hero {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  position: relative;
  z-index: 20;
}

.hero_info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.hero_text {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  max-width: 600px;
}

.hero_description {
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-weight: 400;
  color: #adb2b1;
  max-width: 500px;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.hero_button {
  position: relative;
  background-color: var(--color-main);
  color: #ffffff;
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.hero_button .arrow {
  font-size: 1.2rem;
}

.hero_button:hover {
  background-color: #ffffff;
  color: var(--color-main);
  transform: translateY(-2px);
}

/* Стили блока клиентов */
.clients {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.avatars {
  display: flex;
  align-items: center;
}

.clients span {
  font-weight: 700;
  font-size: 1rem;
}

.clients p {
  font-size: 12px;
  color: #adb2b1;
  max-width: 12rem;
}

/* Стили изображения */
.hero_image {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
}

.hero_text span {
  background: linear-gradient(87.83deg, #fff 70.26%, #999999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_image img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100 !important;
}
@media (max-width: 1400px) {
  .hero_image {
    max-width: 100%;
    padding: 0 2rem;
  }

  .hero_info::after {
    top: 426px;
    left: 240px;
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 1280px) {
  .hero_image {
    max-width: 100%;
    padding: 0 2rem;
  }
  .hero_info::after {
    top: 446px;
    left: 280px;
    right: 0;
    bottom: 0;
  }
}

/* Адаптивные стили */
@media (max-width: 1024px) {
  .hero {
    flex-direction: row;
    gap: 2rem;
  }
  .hero_info::after {
    top: 446px;
    left: 420px;
    right: 0;
    bottom: 0;
  }

  section .container .hero::after {
    top: -70px;
    left: 460px;
    right: 0;
    bottom: 0;
  }

  .hero_text,
  .hero_description {
    max-width: 100%;
  }

  .hero_image {
    display: none;
    max-width: 100%;
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  section {
    margin-top: 60px;
  }

  section .container .hero::after {
    top: 60px;
    left: 200px;
    right: 0;
    bottom: 0;
  }

  .hero_text {
    font-size: 2.5rem;
  }

  .hero_image {
    max-width: 100%;
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 0rem;
  }

  section .container .hero::after {
    top: 50px;
    left: 100px;
    right: 0;
    bottom: 0;
  }

  .hero_text {
    font-size: 2rem;
  }

  .hero_image {
    padding: 0;
    display: none;
  }

  .clients {
    gap: 0.5rem;
  }

  .clients p {
    max-width: 60%;
  }
}

@media (max-width: 390px) {
  .clients p {
    max-width: 100%;
  }
}
