.about-section {
  margin-top: 120px;
  margin-bottom: 128px;
}

.about-section .container {
  display: flex;
  flex-direction: column;
}

.about-section .container::before {
  content: "";
  position: absolute;
  top: -42px;
  left: -600px;
  right: 0;
  bottom: 0;
  background-image: url("/dora5.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  z-index: -10;
  pointer-events: none;
}


.about-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.about-item {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex: 1 1 200px;
  min-width: 300px;
  padding: 10px;
}



.about-icon {
  background-color: var(--color-second);
  border-radius: 35%;
  color: white;
  padding: 14px;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.about-text h4 {
  font-size: 24px;
  font-weight: 300;
}

.about-text p {
  font-size: 16px;
  color: #adb2b1;
}

.about-text {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  gap: 8px;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 1024px) {
  .about-section {
    margin-bottom: 80px;
  }
  
  .about-item {
    min-width: 250px;
  }
  
  .about-icon {
    width: 56px;
    height: 56px;
    padding: 12px;
  }
  
  .about-text h4 {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    gap: 30px;
  }
  .about-section .container ::before {
  top: -42px;
  left: -300px;
}


  .about-item {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .about-item-header {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .about-text {
    max-width: 100%;
  }
  
  .about-text h4 {
    font-size: 1.4rem;
    margin: 0;
  }
  
  .about-text p {
    font-size: 15px;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .about-section {
    margin-bottom: 60px;
  }
    .about-section .container ::before {
  top: -42px;
  left: -100px;
}

  
  .about-icon {
    width: 48px;
    height: 48px;
    padding: 10px;
  }
  
  .about-text h4 {
    font-size: 18px;
  }
  
  .about-text p {
    font-size: 14px;
  }
}
