.header {
  position: relative;
  background: inherit;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 0.5rem 0rem 2rem 0rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: auto;
  position: relative;
  z-index: 10;
}

.menu-toggle {
  position: relative;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  display: none;
}

/* Псевдоэлемент крестика */
.menu-toggle.open::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -8px;
  width: 16px;
  height: 16px;
  background: transparent;
  pointer-events: none;
}

.nav {
  display: flex;
  gap: 2rem;
  color: #fff;
}

.nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* Чуть ниже текста */
  width: 0;
  height: 2px;
  background-color: var(--color-main);
  transition: width 0.3s ease;
}

.nav a:hover {
  color: var(--color-main);
}

.nav a:hover::after {
  width: 100%;
}

.lang-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* Чуть ниже текста */
  width: 0;
  height: 2px;
  background-color: var(--color-main);
  transition: width 0.3s ease;
}

.lang-btn:hover {
  color: var(--color-main);
}

.lang-btn:hover::after {
  width: 50%;
}

.lang-switcher {
  position: relative;
  margin-left: 0rem;
}

.lang-btn {
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: none;
  padding: 0px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lang-btn:hover .lang-arrow {
  color: var(--color-main);
}

.lang-arrow {
  transition: transform 0.3s ease;
  font-size: 0.8rem;
  margin-left: 0.2rem;
  color: #fff;
}

.lang-switcher.open .lang-arrow {
  transform: rotate(180deg);
}

.lang-dropdown {
  position: absolute;
  top: 2rem;
  right: -4rem;
  background: var(--bg-color);
  border: 1px solid var(--color-main);
  border-radius: 8px;
  padding: 0.1rem 0;
  min-width: 80px;
  z-index: 10000;
}

.lang-option {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease;
}

.lang-option:hover {
  background: rgba(var(--color-second-rgb), 0.2);
}

.lang-option.active {
  color: var(--color-main);
  font-weight: 700;
}

.modal-input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 2px solid var(--color-main);
  border-radius: 6px;
  background-color: inherit;
  outline: var(--color-main);
  color: #fff;
}

.modal-results {
  margin-top: 1rem;
  text-align: left;
}

.user-card {
  background: inherit;
  border: 1px solid var(--color-main);
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
}

.menu-toggle.hidden {
  display: none;
}

.mobile-close-btn {
  display: none;
}

@media (max-width: 1080px) {
  .mobile-close-btn {
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000112;
  }

  .mobile-close-btn:hover {
    color: var(--color-main);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999999;
}

.modal-content {
  background: #1a1a1a;
  color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 12px;
  position: relative;
  max-width: 400px;
  width: 90%;
  height: 600px; /* ✅ фиксированная высота */
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: fadeIn 0.3s ease;
  box-sizing: border-box;
}

.modal-body {
  flex: 1; /* занимает всё свободное место */
  overflow-y: auto;
  margin-top: 1rem;
  text-align: left;
  padding-right: 4px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem; /* немного воздуха снизу */
}
.pagination button {
  background-color: var(--color-main);
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.pagination button:disabled {
  background-color: #cccccc65;
  cursor: not-allowed;
}

.contact-btn.mobile-only {
  display: none;
}

.contact-btn {
  background: inherit;
  color: var(--color-main);
  border: 1px solid var(--color-main);
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: 700;
  font-family: "M PLUS 1", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 2rem;
}

.contact-btn:hover {
  background: var(--color-main);
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .lang-switcher {
    margin-left: 0;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
  }

  .lang-btn {
    width: 100%;
    justify-content: center;
    color: var(--color-main);
  }

  .lang-dropdown {
    position: absolute;
    top: 0rem;
    right: 2rem;
    background: var(--bg-color);
    border: 1px solid var(--color-main);
    border-radius: 8px;
    padding: 0.1rem 0;
    min-width: 80px;
    z-index: 10000;
  }
  .lang-btn:hover::after {
    width: 0%;
  }
}

@media (max-width: 1080px) {
  .nav {
    display: flex;
    gap: 2rem;
    color: #fff;
  }
}

@media (max-width: 1080px) {
  .header {
    padding-bottom: 0;
  }

  .menu-toggle {
    display: block;
    position: relative;
    z-index: 99999999;
    color: #fff;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(var(--color-second-rgb), 0.6);
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    gap: 2rem;
    z-index: 1000111;
  }

  .nav a {
    font-size: 1.5rem;
    padding: 1rem;
    color: #fff;
  }

  .nav.open {
    transform: translateX(0);
  }

  .contact-btn.desktop-only {
    display: none;
  }

  .contact-btn.mobile-only {
    display: block;
    width: 100%;
    max-width: 250px;
    text-align: center;
    margin-top: 1rem;
    margin-left: 0rem;
  }
}
