@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap");

html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS 1", sans-serif;
}
:root {
  --color-main: #2bb32a;
  --color-main-rgb: 43, 179, 42;
  --color-second: #3d544d;
  --color-second-rgb: 61, 84, 77;
  --bg-color: #1a1e1c;
}

body {
  background-color: var(--bg-color);
  position: relative;
  overflow-x: hidden;
  color: #ffffff;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 40px;
  bottom: 0;
  background-image: url("/line.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
  z-index: 0;
  pointer-events: none;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  width: 1060px;
  height: 1060px;
  background-color: var(--color-main);
  border-radius: 50%;
  filter: blur(300px);
  opacity: 0.2;
  top: -400px;
  left: 520px;
  z-index: -1;
  pointer-events: none;
}
.container {
  max-width: 1440px;
  margin: 2rem auto 0; /* сверху 32px, по бокам auto для центрирования */
  padding: 0 100px; /* боковые отступы */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1400px) {
  body::after {
    right: 0;
    background-size: cover;
    background-position: center top;
  }
}

@media (max-width: 1080px) {
  body::before {
    top: -500px;
    left: 390px;
  }

  body::after {
    right: 150px;
    background-size: contain;
    background-position: center top;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 50px; /* боковые отступы */
  }

  body::before {
    top: -400px;
    left: 290px;
  }

  body::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 20px; /* боковые отступы */
  }
}
.container--footer {
  max-width: 1440px;
  margin: 2rem auto 0; /* сверху 32px, по бокам auto для центрирования */
  padding: 0 100px; /* боковые отступы */
  display: column;
  justify-content: space-between;
  align-items: center;
}
* button {
  font-family: "M PLUS 1", sans-serif;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
  color: #ffffff;
  font-size: 40px;
}
