@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS 1", sans-serif;
}
:root {
  --color-main: #2bb32a;
  --color-second: #3d544d;
  --color-second-rgb: 61, 84, 77;
  --bg-color: #1a1e1c;
  
}

body {
  background-color: var(--bg-color);
  font-weight: 500;
  color: #fff;
  position: relative; 
}

/* body::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/line.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size:  auto;
  opacity: 0.6;
  pointer-events: none;
  z-index: 0;
} */

.container {
  max-width: 1440px; 
  margin: 2rem auto 0; /* сверху 32px, по бокам auto для центрирования */
  padding: 0 100px;    /* боковые отступы */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--footer {
  max-width: 1440px; 
  margin: 2rem auto 0; /* сверху 32px, по бокам auto для центрирования */
  padding: 0 100px;    /* боковые отступы */
  display: column;
  justify-content: space-between;
  align-items: center;
}

* button {
  font-family: "M PLUS 1", sans-serif;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
  color: #ffffff;
  font-size: 40px;
}

